

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card{
  border: 2px solid black;
  height:12vh;
  width:40%;
  padding: 200px 200px 200px 200px;
 margin: 0 auto;
  box-shadow: 10px 10px 5px grey;
  border-radius:25px;
  display:grid;
  grid-template-columns: 70% 50%;
  justify-items:center;
}

.photo-container{
 display:flex;
 justify-content: flex-start;
 position:relative;
 margin: 0 auto;
}

#photo{
  height:250px;
  width:250px;
  border-radius:50%;
  margin:0px;
  padding:0px;
  position:relative;
}
